{% load static %}
<div class="page-header">
  <div class="header-left">
    <h1 class="header-left-title">Dashboard</h1>
    <p class="header-left-subtitle">Medical Management System</p>
  </div>
  <div class="header-right">
    <div class="notification-icon">
      <i class="fas fa-bell"></i>
    </div>
    <div class="profile-section">
      <div class="profile-info">
        <img
          src="{% static 'images/Avatar.jpg' %}"
          alt="Profile"
          class="profile-image"
        />
        <div class="profile-info-text">
          <span class="profile-name">John Doe</span>
          <span class="profile-email">John@gmail.com</span>
        </div>
      </div>

      <div class="profile-dropdown">
        <button class="dropdown-button">
          <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Settings</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
